body {
    padding: 0;
    margin: 10px;
    width: 100vw;
    height: 100vh;
    font-family: "Syne Mono", monospace;
    background-color: #7236ff;
    display: flex;
    flex-direction: column;
}

/* Beholder for knappene */
.button-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-container > a span,
button {
    display: inline-block;
    background-color: #4400ff;
    color: #ffffff;
    border-radius: 4px;
    padding: 10px 40px;
    margin: 15px 0px;
    font-family: "Syne Mono", monospace;
    font-size: 1.75rem;
    border: 5px solid #4400ff;
    text-align: center;
    text-decoration: none;
    line-height: normal; /* Sikrer riktig linjehøyde */
}

.button-container > a {
    margin: 20px;
}

.container2 {
    width: 750px;
    max-width: 75%;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px;
    padding: 20px;
    margin: 20px;
}

/* Ny beholder for å plassere to elementer side om side */
.row-container {
    display: flex;
    justify-content: space-between;  /* Symmetrisk plassering */
    align-items: flex-start;
    margin: 20px auto;
    width: 100%;
    max-width: 1000px;  /* Juster etter behov */
    gap: 20px;  /* Liten space mellom elementene */
}

/* Overstyr .container2 for elementer inni .row-container slik at de tar omtrent halvparten av bredden */
.row-container .container2 {
    flex: 0 0 calc(50% - 10px); /* To elementer med jevnt mellomrom */
    margin: 0; /* Margin flyttes til .row-container gap */
}

/* Footer-styling */
.footer {
    width: 750px;
    max-width: 75%;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px;
    padding: 20px;
    margin: 20px;
}

.button-container > a span:hover,
button:hover {
    border: 5px solid black;
    cursor: pointer;
}

.button-container > a span:active,
button:active {
    border: 5px solid #ffd300;
}
