body {
    padding: 0;
    margin: 10px;
    width: 100vw;
    height: 100vh;
    font-family: "Syne Mono", monospace;
    background-color: #7236ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Overordnet container */
.container {
    width: 100%;
    max-width: 750px;
    text-align: center;
}

/* Litt ekstra margin under overskriften */
#boksen h1 {
    margin-bottom: 20px;
}

/* Knapp-beholder som grid med 2 kolonner */
.button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* Ensartet styling for knapper og anchors */
.button-container a.button,
.button-container button.button,
.footer a.button {
    display: block;
    background-color: #4400ff;
    color: #ffffff;
    border-radius: 4px;
    padding: 20px 40px;
    font-family: "Syne Mono", monospace;
    font-size: 2rem;
    border: 5px solid #4400ff;
    text-align: center;
    text-decoration: none;
}

/* Hover-effekt */
.button-container a.button:hover,
.button-container button.button:hover,
.footer a.button:hover {
    border: 5px solid black;
    cursor: pointer;
}

/* Active-effekt */
.button-container a.button:active,
.button-container button.button:active,
.footer a.button:active {
    border: 5px solid #ffd300;
}

/* Footer-styling */
.footer {
    width: 100%;
    max-width: 750px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px;
    padding: 20px;
    margin-top: 20px;
}
